<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<logger name="org.nms.spider">
		<level value="INFO"/>
	</logger>
	<logger name="org.springframework">
		<level value="INFO"/>
	</logger>

 	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	   	<layout class="org.apache.log4j.PatternLayout">
	     	<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>

		</layout>
    </appender>
    <appender name="FILE"  
          class="org.apache.log4j.RollingFileAppender">          
          <param name="File" value="/home/daviz/logs/spiderlog.log" />  
          <param name="Append" value="true" />  
          <param name="MaxFileSize" value="5000KB" />  
          <param name="MaxBackupIndex" value="5" />  
          <layout class="org.apache.log4j.PatternLayout">  
              <param name="ConversionPattern"  
                  value="=%d %-5p [%c] %m%n" />  
          </layout>  
      </appender> 
	<root>
	  	<appender-ref ref="console" />
	  	<appender-ref ref="FILE"/>
	</root>
</log4j:configuration>